html {
    height: 100%;
}

body {
    height: 100%;
}


#page-content {
    padding-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    height: calc( 100% - 80px);

}




.centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}